
.text-section h1,
.text-section p {
    color: black; /* Ensures that h1 and p elements inside .text-section are black */
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
    color: black;
}

.text-section {
    width: 70%;
    height: 60vh;
    padding: 20px;
}

.timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.timeline-slider {
    width: 90%; 
}

.threejs-container {
    width: 100%;
    height: 300px;
    background-color: black;
}
