html, body {
    background: black;
    /*overflow-x :hidden;  Disable scrolling */
    height: 100%; /* Ensure the body takes the full height of the viewport */
    margin: 0; /* Remove default margin */
    z-index: 1;
}
/* Custom Scrollbar with Tapered Ends */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 6px;
    height: 50px;
    position: relative;
  }
  
  /* Adding Tapered Ends */
  ::-webkit-scrollbar-thumb:before,
  ::-webkit-scrollbar-thumb:after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
  }
  
  ::-webkit-scrollbar-thumb:after {
    background: linear-gradient(to bottom, transparent, black);
    bottom: 0;
  }

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
 
canvas {
    z-index: -1;
}
#background-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;

}

#background-container svg path {
    stroke: red;
    stroke-width: 2;
    fill: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
    color: #00FF00;
    font-family: 'Press Start 2P', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    color: white;
}

p {
    color: white;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Dark background for contrast */
    padding: 10px 0;
    z-index: 1000;
}

.toolbar-button {
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Bootstrap primary button color for reference */
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .toolbar-button:hover {
        background-color: #0056b3; /* Darker shade for hover effect */
    }